{% extends 'main/layout.html' %}

{% block title %} Про нас {% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores doloremque laborum qui repellendus? Cum doloremque esse in necessitatibus nobis placeat quaerat quia saepe similique sint. Delectus dicta omnis similique voluptate.</p>
        <button class="btn btn-danger">{% filter upper %} Не нажимай красные кнопки {% endfilter %}</button>

    </div>
{% endblock %}